@model RWAT.Models.Question
         @{
             Layout = "~/Views/Shared/Layout.cshtml";
         }
<script src="../../Scripts/rwat/CreateQuestion.js"></script>

<div id="askquestionwrapper" class="container span4">
    @using (Html.BeginForm())
    {
        <fieldset>
        <legend>Ask a Question</legend>
            <div>
                @Html.LabelFor(model=>model.Title) 
                @Html.TextBoxFor(model=>model.Title, new Dictionary<string,object>{{"class","span5"}})
            </div>

            <div>
                @Html.LabelFor(model=>model.Description) 
                @Html.TextAreaFor(model=>model.Description, new Dictionary<string,object>{{"class","span8 createquestiondescription"}})
            </div>
            <div>
                Number of characters left: <div data-bind="text: wordCount()" style="display: inline-block;"></div> 
            </div>
            <input id="askquestion" type="submit" value="Submit Your Question"/>
        </fieldset>
        if(!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-error" style="margin-top: 5px;">
                @Html.ValidationSummary()
            </div> 
        }
    }
</div>